---
- name: Install PostgreSQL Server and Python dependencies
  ansible.builtin.package:
    name:
      - "{{ postgresql_package }}"
      - python3-psycopg2
      - acl # Required for become_user
    state: present

- name: Initialize PostgreSQL (RedHat only)
  ansible.builtin.command:
    cmd: /usr/bin/postgresql-setup --initdb
    creates: "{{ postgresql_data_dir }}/PG_VERSION"
  when: ansible_os_family == "RedHat"

- name: Apply PostgreSQL configuration
  ansible.builtin.template:
    src: postgresql.conf.j2
    dest: "{{ postgresql_conf_dir }}/postgresql.conf"
    owner: postgres
    group: postgres
    mode: '0644'
  notify: Restart PostgreSQL

- name: Apply pg_hba.conf
  ansible.builtin.template:
    src: pg_hba.conf.j2
    dest: "{{ postgresql_conf_dir }}/pg_hba.conf"
    owner: postgres
    group: postgres
    mode: '0600'
  notify: Restart PostgreSQL

- name: Ensure PostgreSQL service is running
  ansible.builtin.service:
    name: "{{ postgresql_service }}"
    state: started
    enabled: yes

- name: Create Database Users
  community.postgresql.postgresql_user:
    name: "{{ item.name }}"
    password: "{{ item.password }}"
    role_attr_flags: "{{ item.role_attr_flags | default(omit) }}"
    encrypted: yes
    state: present
  become: yes
  become_user: postgres
  loop: "{{ postgresql_users }}"

- name: Create Databases
  community.postgresql.postgresql_db:
    name: "{{ item.name }}"
    owner: "{{ item.owner | default(omit) }}"
    encoding: "{{ item.encoding | default('UTF8') }}"
    state: present
  become: yes
  become_user: postgres
  loop: "{{ postgresql_databases }}"

- name: Grant Database Privileges
  community.postgresql.postgresql_privs:
    database: "{{ item.db }}"
    role: "{{ item.name }}"
    privs: "{{ item.priv | default('ALL') }}"
    type: database
    state: present
  become: yes
  become_user: postgres
  loop: "{{ postgresql_users }}"
  when: item.db is defined
