---
- name: Restart SSH
  ansible.builtin.service:
    name: sshd
    state: restarted

- name: Reload sysctl
  ansible.builtin.command:
    cmd: sysctl -p /etc/sysctl.d/99-hardening.conf

- name: Restart fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: restarted

- name: Reload UFW
  community.general.ufw:
    state: reloaded
