<?php

/**
 * Database connection details
 */
$db['host'] = '{{ phpipam_db_host }}';
$db['user'] = '{{ phpipam_db_user }}';
$db['pass'] = '{{ phpipam_db_password }}';
$db['name'] = '{{ phpipam_db_name }}';
$db['port'] = 3306;

/**
 * Base URL
 */
define('BASE', '{{ phpipam_base_url }}');

/**
 * Admin email
 */
define('ADMIN_MAIL', '{{ phpipam_admin_email }}');
