- name: Ensure target user exists
  ansible.builtin.user:
    name: "{{ user_name | default('shockwave') }}"
    state: present
    create_home: yes
    shell: /bin/bash
    groups: wheel
    append: yes

- name: Setup Passwordless sudo for target user
  ansible.builtin.copy:
    dest: "/etc/sudoers.d/{{ user_name | default('shockwave') }}"
    content: "{{ user_name | default('shockwave') }} ALL=(ALL) NOPASSWD: ALL\n"
    owner: root
    group: root
    mode: '0440'
    validate: '/usr/sbin/visudo -cf %s'

- name: Add authorized keys for target user
  ansible.posix.authorized_key:
    user: "{{ user_name | default('shockwave') }}"
    state: present
    key: "{{ item }}"
  loop: "{{ ssh_public_keys }}"
